.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: .5em;
  margin-bottom: .5em;

  label {
    margin-bottom: .25em;
    font-weight: 600;
    cursor: pointer;
  }

  .input {
    //width: 100%;
    padding: .5em;
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;

    &:is([type="date"])::-webkit-calendar-picker-indicator {
      cursor: pointer;
    }

    &.error {
      border-color: red;
    }
  }
}