.App {
    display: flex;
    flex-direction: column;
    place-content: flex-start;
    place-items: stretch;

    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
