.App {
    display: flex;
    flex-direction: column;
    place-items: flex-start;
    place-content: flex-start;

    width: 100%;
    min-height: 100%;

    overflow-x: hidden;
    overflow-y: auto;
}
